{:paths   ["src"]
 :aliases {:repl {:extra-deps {com.bhauman/rebel-readline {:mvn/version "0.1.4"}}
                  :main-opts  ["-m" "rebel-readline.main"]}
           :test {:extra-deps {lambdaisland/kaocha {:mvn/version "0.0-521"}
                               metosin/testit      {:mvn/version "0.4.0"}}}}}
